.container {
  max-width: 1360px;
  width: 80%;
  margin: 0 auto;
  height: 98%;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 85%; */
}

.filters {
  height: 40px;
}

.account {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner {
  text-align: center;
  background-color: #FF6966;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.account_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.stage {
  display: flex;
  align-items: center;
}

.current_stage {
  width: 100px;
  margin-right: 10px;
  /* background-color: #1285ed; */
  background-color: #444;
  color: #fff;
  padding: 5px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.icon {
  margin-right: 10px;
}

.predicted_stage {
  width: 100px;
  text-align: center;
  background-color: #1285ed;
  color: #fff;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 16px;

}

.account_name {
  font-size: 36px;
  font-weight: 700;
}

.account_num {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.account_mid {
  /* flex-grow: 1; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.account_mid_left {
  width: 48%;
  padding: 20px;
  /* background-color: beige; */
  border-radius: 4px;
}

.account_mid_right {
  width: 48%;
  padding: 20px;
  background-color: beige;
  border-radius: 4px;
}

.data {
  margin: 10px 0;
  font-size: 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.contact {
  margin-top: 25px;
  /* flex-grow: 1; */
  width: 96%;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
}

.contact_left {
  width: 50%;
}

.contact_info {
  display: flex;
  margin-top: 35px;
}

.user_icon {
  margin-right: 20px;
  font-size: 120px;
  padding: 20px 25px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: beige;
}

.user_name {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
}

.user_info {
  margin: 10px 0;
  font-size: 16px;
}

.contact_right {
  width: 50%;
}

.lorem {
  margin-top: 50px;
  font-size: 16px;
  font-style: italic;
  line-height: 1.4;
}